node_modules
.tools
dist
.DS_Store
*.local
.env.local
.env.*.local
*.log
*.tsbuildinfo
vite.config.js
vite.config.d.ts
.vscode/*
!.vscode/extensions.json

.offline-images/*.tmp
artifacts/
.offline-native/*.tmp
