*.sh text eol=lf
*.ps1 text eol=crlf
*.cmd text eol=crlf
.offline-images/*.tar binary
.offline-images/*.sha256 text eol=lf
.offline-native/*.zip binary
.offline-native/*.gz binary
.offline-native/*.sha256 text eol=lf
